{% extends 'attendance/dashboard/base_admin.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Status Update{% endblock %}

{% block image_block %}

{% endblock %}

{% block content %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index.html" class="brand-link">
    <img src="{% static 'img/AdminLTELogo.png'%}"alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'img/user2-160x160.jpg'%}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Admin</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a href="{% url 'attendance:dashboard' %}" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Главная страница

            </p>
          </a>
        </li>
        <li class="nav-item menu-open">
          <a href="{% url 'attendance:admin_status' %}" class="nav-link ">
            <i class="nav-icon fas fa-star"></i>
            <p>
              Список позиций
            </p>
          </a>
        </li>
        <li class="nav-item menu-open">
          <a href="{% url 'attendance:admin_worker' %}" class="nav-link ">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Все рабочие
            </p>
          </a>
        </li>
        <li class="nav-item menu-open">
          <a href="{% url 'attendance:admin_add_user' %}" class="nav-link active">
            <i class="nav-icon fas fa-user-secret"></i>
            <p>
              Добавить бригадира
            </p>
          </a>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
<div class="content-wrapper" style="min-height: 2171.6px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Добавить нового бригадира</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'attendance:dashboard' %}">Главная страница</a></li>
            <li class="breadcrumb-item active">Добавить нового бригадира</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">

          <!-- general form elements -->
          <div class="card card-primary">

            {% if registered %}
            <div class="card text-center">
                <div class="card-header">

                </div>
                <div class="card-body">
                  <h5 class="card-title">Добавлен новый бригадир</h5>
                  <p class="card-text">Новый бригадир успешно добавлен. Вы можете добавить еще одного бригадира или вернуться в главное окно.</p>
                  <a href="{% url 'attendance:admin_add_user' %}" class="btn btn-outline-success btn-fw"><i class="mdi mdi-account-plus" aria-hidden="true"></i> Добавить еще одного бригадира</a>
                  <a href="{% url 'attendance:dashboard' %}" class="btn btn-outline-info btn-fw"><i class=" mdi mdi-exit-to-app" aria-hidden="true"></i> Вернуться на главную страницу</a>
                </div>
                <div class="card-footer text-muted">
  
                </div>
              </div>
        
            {% else %}

            <div class="col-12 grid-margin">
               
               
                <div class="card-body">
                    <form class="form-sample" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_form }}
                   
               
                    <div class="btn-group mt-4" role="group" aria-label="Basic example">
                        <button type="submit" class="btn btn-success ">Сохранить</button>
                        <button type="button" class="btn btn-warning ">Отменить</button>
                    </div>
                    </form>
                </div>
                
            </div>
            {% endif %}

          </div>
          <!-- /.card -->
    
        </div>
        <!--/.col (left) -->

      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>



{% endblock %}
